* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    flex: 1;
    margin-right: 10px;
}

input[type="number"] {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .form-group {
        flex-direction: column;
    }
    
    label {
        margin-right: 0;
        margin-bottom: 5px;
    }
    
    input[type="number"] {
        width: 100%;
    }
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745; /* Color verde para el botón de envío */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838; /* Color verde oscuro al pasar el mouse */
}

/* Estilo para el botón de limpiar registros */
button#limpiar-registros {
    background-color: #dc3545; /* Color rojo */
}

button#limpiar-registros:hover {
    background-color: #c82333; /* Color rojo oscuro al pasar el mouse */
}