body {
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
  margin: 0; 
  padding: 0; 
  background-color: #f4f4f4; 
}

h1 {
  text-align: center; 
  color: #333;
  margin-top: 20px; 
}

button {
  display: block; 
  width: 200px; 
  margin: 20px auto; 
  padding: 10px; 
  font-size: 16px; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

/* Estilo para el botón AGREGAR */
.agregar-btn {
  background-color: #28a745; /* Verde */
}

.agregar-btn:hover {
  background-color: #218838; /* Verde más oscuro al pasar el mouse */
}

/* Estilo para el botón QUITAR */
.eliminar-btn {
  background-color: #ffc107; /* Amarillo */
}

.eliminar-btn:hover {
  background-color: #e0a800; /* Amarillo más oscuro al pasar el mouse */
}